<div id="intro">
	<h3>Welcome</h3>
	<p>Fetching postal code info should be easy. zipasaur.us is a dead-simple API for retrieving zip code information about a given city, state, or zip in a speedy manner. Documentation <a href="Api.html">here</a>, although the entire API is listed below. The aim was to be as RESTful and easy to use as possible. Performance and technical/implementation details <a href="perf-and-tech">here</a>. Special thanks to AJ Austinson and Lindsey Kirkbride for the logo!</p>
</div>

<div id="why">
	<h3>Why?</h3>
	<p>'Why?' is a good question. Tasked with implementing zip code validation in a web form, I was told to download a database of zip codes and create a table against which to validate. 'Surely there exists a restful service for this', I thought. When I failed to find such a service, I decided to build it, figuring other people could benefit as well. The entire thing was up and running in less than a few hours.</p>
</div>

<div id="getting-started">
	<h3>Getting Started</h3>
	
	<p>To fetch info for a given zip code...</p>
	<pre>http://zipasaur.us/api/zipinfo/byzip/97209</pre>
	
	<p>To fetch info for all of Oregon...</p>
	<pre>http://zipasaur.us/api/zipinfo/bystate/or</pre>
	
	<p>To fetch info for Portland, Oregon...</p>
	<pre>http://zipasaur.us/api/zipinfo/bystate/or/bycity/portland</pre>
	
	<p>To fetch info for Multnomah County, Portland, Oregon...</p>
	<pre>http://zipasaur.us/api/zipinfo/bystate/or/bycity/portland/bycounty/multnomah</pre>
	
	<h3>Structure</h3>
	<p>All zip code documents return JSON objects that look like the following...</p>
	<pre>{"city":"PORTLAND","code":"97209","lng":"-122.683826","county":"MULTNOMAH","lat":"+45.531990","state":"OR"}</pre>
</div>