<div id="main_content">
	<ul id="content_nav">
		<li class="content_tab"><a href="/">Get started</a></li>
		<li class="content_tab"><a href="/">Structure</a></li>
		<li class="content_tab"><a href="/">Use cases</a></li>
	</ul> <!--end content_nav-->
	
	<div id="tout_1" class="tout">
		<h3>Get Started</h3>
		<ul id="start_examples">
			<li class="code_example">
				<p>To fetch info for a given zip code...</p>
				<pre>http://zipasaur.us/api/zipinfo/byzip/97209</pre>
			</li>

			<li class="code_example">
				<p>To fetch info for all of Oregon...</p>
				<pre>http://zipasaur.us/api/zipinfo/bystate/or</pre>
			</li>

			<li class="code_example">
				<p>To fetch info for Portland, Oregon...</p>
				<pre>http://zipasaur.us/api/zipinfo/bystate/or/bycity/portland</pre>
			</li>
			
			<li class="code_example">
				<p>To fetch info for Multnomah County, Portland, Oregon...</p>
				<pre>http://zipasaur.us/api/zipinfo/bystate/or/bycity/portland/bycounty/multnomah</pre>
			</li>
		</ul><!--end start_examples-->
	</div> <!--end tout_1, get started-->
	
	<div id="tout_2" class="tout">
		<h3>Structure</h3>
		<ul id="structure_examples">
			<li class="code_example">
				<p>All zip code documents return JSON objects that look like the following...</p>
						<pre>{"city":"PORTLAND","code":"97209","lng":"-122.683826","county":"MULTNOMAH","lat":"+45.531990","state":"OR"}</pre>
			</li>
		</ul>
	</div> <!--end tout_2, structure-->
	
	<div id="tout_3" class="tout">
		<h3>Use Cases</h3>
		<ul id="case_examples">
			<li class="code_example">
				<p>There's nothing here yet</p>
			</li>
		</ul>
	</div> <!--end tout_3, use cases-->
</div> <!--end main_content-->
