<section id="getting-started">
	<h1>API</h1>
	<h4>Search by Zip Code</h4>
	<pre>http://zipasaur.us/zip/97209</pre>
	<a href="http://zipasaur.us/zip/94105" target="new" class="btn btn-large btn-primary">Try it!</a>

	<h4>Search by State</h4>
	<pre>http://zipasaur.us/state/or</pre>
	<a href="http://zipasaur.us/state/or" target="new" class="btn btn-large btn-primary">Try it!</a>

	<h4>Search by City</h4>
	<pre>http://zipasaur.us/state/or/city/portland</pre>
	<a href="http://zipasaur.us/state/ca/city/san%20francisco" target="new" class="btn btn-large btn-primary">Try it!</a>

	<h4>Search by County</h4>
	<pre>http://zipasaur.us/state/or/county/multnomah</pre>
	<a href="http://zipasaur.us/state/or/county/multnomah" target="new" class="btn btn-large btn-primary">Try it!</a>

	<h1>Response</h1>
	<p>All zip code documents returned are JSON objects that look like the following:</p>
	<pre>{ "city":"PORTLAND","code":"97209","lng":"-122.683826","county":"MULTNOMAH","lat":"+45.531990","state":"OR", "state_full":"Oregon" }</pre>
</section>