<div id="intro">
	<p>Welcome to zipasaur.us. a restful API for quering zip codes, states, and cites. The goal of this project was to develop an API for retrieving information about a given city, state, or zip in a speedy manner. It is free to use, but feel free to donate. If you are curious about performance or technical details, have a <a href="perf-and-tech">read</a>.</p>
</div>

<div id="getting-started">
	<h3>Getting Started</h3>
	<p>Getting started is simple - query zipasaur.us using anything that speaks HTTP!</p>
	
	<p>To fetch zip info for a given postal code, query the zips resource like so...</p>
	<pre>curl http://zipasaur.us/zips/97209</pre>
	
	<p>To fetch all the zip code info for Oregon, query the states resource like so...</p>
	<pre>curl http://zipasaur.us/states/or</pre>
	
	<p>To fetch all zip info for all cities named Portland, query the cities resource like so...</p>
	<pre>curl http://zipasaur.us/cities/portland</p>
</div>
