<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="zipasaur.us is a dead-simple, free API for querying zip/postal code information." /> 
		<meta name="keywords" content="zip code api, postal code api, zip, postal, zip code, postal code, epsilon eight, chris eigner" /> 
		<link rel="canonical" href="http://zipasaur.us" />
    <title>zipasaur.us</title>
    <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
		<script src="/js/main.js"></script>
  </head>
  <body>
		
		<header>
			<div id="headline">
				<h1>zipasaur.us</h1>
				<img id="headline-logo" src="img/zipasaurus.png"/>
			</div>
		</header>
		
		<div id="app-wrapper">
			<%= yield %>
		</div>
		
		<footer>
			<p><a href="Api.html">documentation</a></p>
			<p>© 2011 Epsilon Eight</p>
		</footer>
  </body>
</html>
