<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="zipasaur.us is a dead-simple, free API for querying zip/postal code information." /> 
		<meta name="keywords" content="zip code api, postal code api, zip, postal, zip code, postal code, epsilon eight, chris eigner" /> 
		<link rel="canonical" href="http://zipasaur.us" />
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/flat-ui.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>zipasaur.us</title>
  </head>

  <body>
    <div class="container">
      <div class="demo-headline">
        <h1 class="demo-logo">
          <div class="logo"></div>
          zipasaur.us
          <small>RESTful Zip Code API</small>
        </h1>
      </div>
    </div>
    
    <div class="container">
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <p>&copy; 2011 Chris Eigner</p>
        <p>Data provided by <a href="http://www.geonames.org">GeoNames</a></p>
      </div>
    </footer>

    <script src="/js/jquery-1.8.2.min.js"></script>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/icon-font-ie7.js"></script>
    <script src="/js/custom_checkbox_and_radio.js"></script>
    <script src="/js/custom_radio.js"></script>
    <script src="/js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="/js/jquery.placeholder.js"></script>
    <script src="/js/jquery.dropkick-1.0.0.js"></script>
    <script src="/js/jquery.tagsinput.js"></script>
    <script src="/js/lte-ie7-24.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22276764-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
  </body>
</html>