<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="zipasaur.us is a dead-simple, free API for querying zip/postal code information." /> 
		<meta name="keywords" content="zip code api, postal code api, zip, postal, zip code, postal code, epsilon eight, chris eigner" /> 
		<link rel="canonical" href="http://zipasaur.us" />
    <title>zipasaur.us</title>
    <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
		<script src="/js/main.js"></script>
		
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-22276764-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
  </head>
  <body>
		
		<div id="container">
			<header>
				<h1>zipasaur.us</h1>
				<div id="intro">
						<h2>intro header copy</h2>
						<p>lovely content here</p>
				</div><!--end intro-->
				<div class="clear"></div>
			</header>

			<div id="app-wrapper">
				<%= yield %>
			</div>
			
			<footer>
				<p><a href="Api.html">documentation</a></p>
				<p>&copy; 2011 epsilon eight</p>
			</footer>
		</div> <!--end container-->
  </body>
</html>
