<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="zipasaur.us is a dead-simple, free API for querying zip/postal code information." /> 
		<meta name="keywords" content="zip code api, postal code api, zip, postal, zip code, postal code, epsilon eight, chris eigner" /> 
		<link rel="canonical" href="http://zipasaur.us" />
    <title>zipasaur.us</title>
    <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	  <script src="/js/main.js"></script>
  	<%= ga_tag %>
  </head>

  <body>
		<div class="container">
      
      <div class="headline">
        <img src="/img/zipasaurus.png">
      </div>
      
      <div class="page-header">
        <h1>
          zipasaur.us
          <small>RESTful Zip Code API</small>
        </h1>
			</div>
		  
      <%= yield %>

  		<footer>
  			<p><a href="Api.html">documentation</a></p>
  			<p>&copy; 2011 Chris Eigner</p>
  		</footer>
		</div>
  </body>
</html>