<div id="perf-and-tech-wrapper">
	<div id="technicals">
		<h3>Technical Details</h3>
		<p>zipasaur.us is built using <a href="http://www.sinatrarb.com/">Sinatra</a>, uses mongodb as a backend, John Nunemaker's <a href="https://github.com/jnunemaker/mongomapper">mongomapper gem</a> for an ORM, <a href="http://heroku.com">Heroku</a> for hosting, and the <a href="http://mongohq.com">MongoHQ</a> for hosting the data. </p>
	</div>
	
	<div id="performance">
		<h3>Performance</h3>
		<p>TODO: show some ab stats and response times here</p>
	</div>
</div>