<div id="perf-and-tech-wrapper">
	<div id="technicals">
		<h3>Technical Details</h3>
		<p>zipasaur.us is built on <a href="http://www.sinatrarb.com/">Sinatra</a>, a minimalist web development framework. The backend is a mongo database with John Nunemaker's <a href="https://github.com/jnunemaker/mongomapper">mongomapper</a> acting as the ORM. For quick scaling and ease of deployment, zipasaur.us is deployed on <a href="http://heroku.com">Heroku</a> and the database setup on <a href="http://mongohq.com">MongoHQ</a>. The database consists of approximately 42k zipinfo documents, each containing zip, city, state, county, lat, and lng keys. The service is json-p compatible, thanks to Rack::JSONP, and makes use of Rack::Cache, and memcache to ease load on the server and database.</p>
	</div>
	
	<div id="performance">
		<h3>Performance <span class="label notice">1 Dyno</span></h3>
		<pre>$ ab -n 2000 -c 500 http://zipasaur.us/api/zipinfo/byzip/97209
Server Software:        nginx
Server Hostname:        zipasaur.us
Server Port:            80

Document Path:          /api/zipinfo/byzip/97209
Document Length:        139 bytes

Concurrency Level:      400
Time taken for tests:   0.736 seconds
Complete requests:      2000
Failed requests:        0
Write errors:           0
Total transferred:      920830 bytes
HTML transferred:       278417 bytes
Requests per second:    2717.99 [#/sec] (mean)
Time per request:       147.167 [ms] (mean)
Time per request:       0.368 [ms] (mean, across all concurrent requests)
Transfer rate:          1222.08 [Kbytes/sec] received

Connection Times (ms)
              min  mean[+/-sd] median   max
Connect:        2    6   4.1      5      30
Processing:    16  111  71.1     99     321
Waiting:       16  110  70.7     98     320
Total:         24  117  69.7    103     325

Percentage of the requests served within a certain time (ms)
  50%    103
  66%    138
  75%    158
  80%    166
  90%    225
  95%    261
  98%    303
  99%    316
 100%    325 (longest request)
		</pre>
	</div>
</div>