<div id="perf-and-tech-wrapper">
	<div id="technicals">
		<h3>Technical Details</h3>
		<p>zipasaur.us is built on <a href="http://www.sinatrarb.com/">Sinatra</a>, a minimalist web development framework. The backend is a mongo database with John Nunemaker's <a href="https://github.com/jnunemaker/mongomapper">mongomapper</a> acting as the ORM. For quick scaling and ease of deployment, zipasaur.us is deployed on <a href="http://heroku.com">Heroku</a> and the database setup on <a href="http://mongohq.com">MongoHQ</a>. The database consists of approximately 42k zipinfo documents, each containing zip, city, state, county, lat, and lng keys. The service is json-p compatible, thanks to Rack::JSONP, and makes use of Rack::Cache, and memcache to ease load on the server and database.</p>
	</div>
	
	<div id="performance">
		<h3>Performance <span class="label notice">1 Dyno</span></h3>
		<pre>$ ab -n 2000 -c 500 http://zipasaur.us/api/zipinfo/byzip/97209
Server Software:        nginx
Server Hostname:        zipasaur.us
Server Port:            80

Document Path:          /api/zipinfo/byzip/97209
Document Length:        139 bytes

Concurrency Level:      500
Time taken for tests:   2.247 seconds
Complete requests:      2000
Failed requests:        0
Write errors:           0
Total transferred:      922934 bytes
HTML transferred:       278000 bytes
Requests per second:    890.18 [#/sec] (mean)
Time per request:       561.687 [ms] (mean)
Time per request:       1.123 [ms] (mean, across all concurrent requests)
Transfer rate:          401.16 [Kbytes/sec] received

Connection Times (ms)
              min  mean[+/-sd] median   max
Connect:        1    8   7.3      3      31
Processing:    27  472 323.6    525     963
Waiting:       27  472 323.6    525     963
Total:         46  480 317.5    527     965

Percentage of the requests served within a certain time (ms)
  50%    527
  66%    729
  75%    789
  80%    821
  90%    865
  95%    880
  98%    910
  99%    925
 100%    965 (longest request)
		</pre>
	</div>
</div>