<div id="perf-and-tech-wrapper">
	<div id="technicals">
		<h3>Technical Details</h3>
		<p>zipasaur.us is built on <a href="http://www.sinatrarb.com/">Sinatra</a>, a minimalist web development framework. The backend is a mongo database with John Nunemaker's <a href="https://github.com/jnunemaker/mongomapper">mongomapper</a> acting as the ORM. For quick scaling and ease of deployment, zipasaur.us is deployed on <a href="http://heroku.com">Heroku</a> and the database setup on <a href="http://mongohq.com">MongoHQ</a>. The database consists of approximately 42k zipinfo documents, each containing zip, city, state, county, lat, and lng keys. Admittedly, the API isn't all that RESTful, but I did my best to make it easy to use.</p>
	</div>
	
	<div id="performance">
		<h3>Performance</h3>
		<pre>$ ab -n 1000 -c 50 http://zipasaur.us/api/zipinfo/byzip/97209
Server Software:        nginx/0.7.67
Server Hostname:        zipasaur.us
Server Port:            80

Document Path:          /api/zipinfo/byzip/97209
Document Length:        139 bytes

Concurrency Level:      50
Time taken for tests:   4.409372 seconds
Complete requests:      1000
Failed requests:        0
Write errors:           0
Total transferred:      373897 bytes
HTML transferred:       139139 bytes
Requests per second:    226.79 [#/sec] (mean)
Time per request:       220.469 [ms] (mean)
Time per request:       4.409 [ms] (mean, across all concurrent requests)
Transfer rate:          82.78 [Kbytes/sec] received

Connection Times (ms)
              min  mean[+/-sd] median   max
Connect:       71   72   2.5     72      96
Processing:    81  142  50.3    130     387
Waiting:       80  140  50.3    129     386
Total:        153  214  50.4    203     461
		</pre>
	</div>
</div>