html {
  width: 100%;
  height: 100%;
  background: -moz-radial-gradient(center 45deg, circle closest-corner, #fff 0%, #ddd 100%);
  background: -webkit-gradient(radial, center center, 0, center center, 500, from(#fff), to(#ddd));
}

body {
  font-family: Times;
  min-width: 50%;
  min-height: 50%;
}

pre {
  border: 1px solid #bbb;
  background-color: white;
  overflow: auto;
  height: auto;
  font-size: 20px;
  line-height: 35px;
  padding-left: 10px;
}

header {
  text-align: center;
}

footer {
  text-align: center;
}

footer p {
  font-size: 12px;
}

#app-wrapper {
  text-align: left;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 70%;
}
