body {
  font-family: Times;
  min-width: 50%;
  min-height: 50%;
}

/*pre {
  border: 1px solid #bbb;
  background-color: white;
  overflow: auto;
  height: auto;
  font-size: 20px;
  line-height: 35px;
  padding-left: 10px;
}
*/

header {
  font-size: 30px;
  text-align: center;
}

footer {
  text-align: center;
}

footer p {
  font-size: 12px;
}

/*#app-wrapper {
  text-align: left;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 70%;
}
*/